* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
    transition: color 0.05s ease-in, background-color 0.05s ease-in;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    height: 100vh;
    transition: background-color 0.3s ease-in, color 0.1s ease-in;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
}

#containerBusca {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in;
}

#containerBotao-tema {
    position: fixed;
    top: 10px;
    right: 8px;
    z-index: 1001;
}

#containerBotao-tema i {
    margin-left: 3px;
}

input {
    width: calc(50% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #000;
    border-radius: 5px;
    transition: background-color 0.3s ease-in, color 0.3s ease-in, border 0.3s ease-in;
}

button {
    padding: 10px 15px;
    margin: 3px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

button#botaoBuscar {
    background-color: #000;
    color: #fff;
}

button#botaoBuscar:hover {
    background-color: #444444;
}

button#botaoTema {
    background-color: #fff;
    color: #000;
    font-size: 1rem;
}

button#botaoTema:hover {
    background-color: #dfdfdf;
}

.resultado {
    margin-top: calc(25% - 20px);
    padding: 10px;
    display: none;
    width: 100%;
    text-align: center;
    transition: opacity 0.3s;
}

.resultado img {
    max-width: 90%;
    height: auto;
    border-radius: 5px;
}

body.tema-escuro {
    background-color: #000;
    color: #fff;
}

body.tema-escuro input {
    background-color: #101010;
    color: #fff;
    border: 1px solid #fff;
}

body.tema-escuro button#botaoBuscar {
    background-color: #fff;
    color: #000;
}

body.tema-escuro button#botaoBuscar:hover {
    background-color: #cecece;
}

body.tema-escuro button#botaoTema {
    background-color: #000;
    color: #fff;
}

body.tema-escuro button#botaoTema:hover {
    background-color: #262626;
}

body.tema-escuro #containerBusca {
    background-color: #000;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
}

@media(max-width: 798px) {
    button#botaoTema {
        font-size: 0.75rem;
        margin-right: 0;
    }

    #containerBotao-tema {
        right: 0;
        top: 2px;
    }
}
